<!-- <div class="container-fluid about py-5 h-100"> -->
    <section class="container-fluid about py-5 h-100">
        <div class="about-sec text-white py-5">
            <div class="about-header py-5">
                <h2 class="fw-bolder">ABOUT COMPONENT</h2>
                <div class="star px-3 py-2 "><i class="fa-solid fa-star text-home"></i></div>
            </div>
            <div class="row g-2">
                <div class="col-md-4 m-auto">
                    <p class="fs-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-4 m-auto">
                    <p class="fs-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
        
    </section>
<!-- </div>  -->
