<nav class="navbar navbar-expand-lg py-5">
    <div class="container">
      <a class="navbar-brand" href="#">START FRAMWORK</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item px-4">
            <a class="nav-link active text-white" aria-current="page" routerLink="about"  routerLinkActive=" bg-color border-0 rounded" >ABOUT</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link text-white" aria-current="page" routerLink="portfolio" routerLinkActive=" bg-color border-0 rounded">PORTFOLIO</a>
        </li>
          <li class="nav-item px-4">
            <a class="nav-link text-white" aria-current="page" routerLink="contact" routerLinkActive=" bg-color border-0 rounded">CONTACT</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
