<div class="container-fluid home w-100 h-100 py-5">
    <div class="img m-auto d-flex justify-content-center align-items-center col-md-9">
        <img [src]="imgPath" alt="" class="w-25">
    </div>
    <div class="home-content m-auto col-md-9 text-center ">
        <h2 class="text-white">START FRAMEWORK</h2>
    </div>
    <div class="star px-3 py-2 "><i class="fa-solid fa-star text-white fa-1x"></i></div>
    <p class="fs-4 text-white d-flex justify-content-center align-items-center mt-3 ">
        Graphic Artist - Web Designer - Illustrator</p>
</div>

